<!--suppress HtmlUnknownTarget -->
<h3>重置密码</h3>
<form action="/api/user/call/resetPassword" onsubmit="return resetPassword()">
    <ul>
        <li>
            <p>用户名</p>
            <label for="u">
                <input type="text" minlength="3" name="u" required />
            </label>
        </li>
        <li>
            <p>密保问题</p>
            <label>
                <select name="vid">
                    <option value="0">获取中 · · ·</option>
                </select>
            </label>
        </li>
        <li>
            <p>答案</p>
            <label>
                <input type="text" name="vans" required />
            </label>
        </li>
        <li>
            <p>新密码</p>
            <label for="np">
                <input type="password" minlength="6" name="np" required />
                <i class="i-hide" onclick="showPassword('p')"> </i>
            </label>
        </li>
    </ul>
    <label class="submit">
        <input type="submit">
        →
    </label>
</form>
