<h3>声音设置</h3>
<div class="s-music">
    <label>
        <input type="checkbox" name="m-bg" checked>
        背景音乐
    </label>
    <label>
        <input type="checkbox" name="m-game" checked>
        游戏音效
    </label>
</div>
<h3>账号设置</h3>
<div class="s-acc">
    <div class="change">
        <div class="change-password" onclick="floatOfChangePassword()">修改密码</div>
        <div class="change-verify-problem" onclick="floatOfChangeVerifyProblem()">修改密保问题</div>
    </div>
    <div class="exit" onclick="logout()">退出登录</div>
</div>