.float .account,
.float .account form,
.float .account form .submit
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.float .account h3
{
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}

.float .account form
{
    margin-top: 25px;
    align-items: flex-end;
    transition: opacity 1s linear;
}

.float .account ul
{
    margin-bottom: 19px;
}

.float .account li
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 17px;
}

.float .account li p
{
    margin-right: 8px;
}

.float .account li label
{
    width: 55%;
    display: flex;
    justify-content: flex-end;
}

.float .account form input,
.float .account form select
{
    width: 80%;
    padding: 5px;
}

.float .account form select
{
    width: 89%;
}

.float .account form .submit
{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 23px;
}

.float .account form .submit input
{
    display: none;
}

.float .account label[for=sp],
.float .account label[for=p]
{
    position: relative;
}

.float .error h3
{
    font-size: 19px;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}

.float .error p
{
    font-size: 17px;
    margin: 19px 0;
}

.float li.forget
{
    justify-content: flex-end;
    padding: 0;
}

.float li.forget a
{
    color: #4CA1AF;
    font-size: 13px;
    transform: translateX(5px);
}