

/* 评论 */
.comment
{
    display: flex;
    margin: 5px 0;
}

.comment > .avatar 
{
    width: 32px;
    height: 32px;
    margin: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.comment > .avatar img
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.comment > .multi
{
    flex: 1;
    align-items: center;
    padding: 0 5px 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.comment > .multi > .head
{
    height: 32px;
    margin: 9px 0;
    display: flex;
    align-items: center;
}

.comment > .multi > .head > .meta
{
    flex: 1;
}

/* 评论者昵称以及vip标识 */
.comment > .multi > .head > .meta > .user
{
    display: flex;
    align-items: center;
}

.comment > .multi > .head > .meta > .user .i-vip
{
    margin-left: 3px;
}

/* 评论者昵称 */
.comment > .multi > .head > .meta > .user > p
{
    font-size: 14px;
}

/* 评论时间 */
.comment > .multi > .head > .meta > span
{
    font-size: 11px;
    color: #666;
}

.comment > .multi > .head > .like
{
    width: 50px;
    text-align: right;
    font-size: 13px;
    color: #666;
}

/* 评论内容 */
.comment > .multi > .content
{
    font-size: 15px;
}

/* 评论引用 */
.comment > .multi .reply
{
    color: rgba(0, 0, 0, .65);
    border: 1px solid #888;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
}

/* 去除列表首个元素边框 */
li.comment:nth-last-child(1) .multi
{
    border-bottom: none;
}
