/* 所有元素 */
* 
{
    margin: 0;
    padding: 0;
    /* 
        border-box :  加padding，盒子不会变大
        content-box :  加padding，盒子会变大
    */
    box-sizing: border-box;
    resize: none;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    outline: white;
}

a
{
    text-decoration: none;
}

html
{
    /* height: 100%; */
    /* overflow: hidden; */
}

body
{
    /* width: 100%; */
    height: 101%;
}